<% layout('./layouts/boilerplate.ejs') %>

    <form action="/admin/product/<%= product._id %>?_method=PATCH" class="mt-3" method="post">
        <h3>Add new product</h3>
        <br>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter product name" value="<%= product.name %>"/>
            </div>
            <div class="mb-3 col-md-2">
            <label for="price" class="form-label">Product price</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="Enter product price" value="<%= product.price %>" />
            </div>
            <div class="mb-3 col-md-2">
            <label for="stock" class="form-label">Product stock</label>
            <input type="number" name="stock" class="form-control" id="stock" placeholder="Enter product stock" value="<%= product.stock %>" />
            </div>
            <div class="mb-3 col-md-2">
            <label for="discount" class="form-label">Product discount</label>
            <input type="number" name="discount" class="form-control" id="discount" placeholder="Enter discount" value="<%= product.discount %>" />
            </div>
        </div>
        <div class="row">
                    <div class="col-md-6">
            &nbsp;&nbsp;&nbsp; SIZES: &nbsp;&nbsp;&nbsp;
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="sizes" type="checkbox" value="S" id="S" <%= product.sizes.includes("S") ? "checked" : ""  %> >
            <label class="form-check-label" for="S">
                S
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="sizes" value="M" id="M" <%= product.sizes.includes("M") ? "checked" : ""  %> >
            <label class="form-check-label" for="M">
                M
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="sizes" value="L" id="L" <%= product.sizes.includes("L") ? "checked" : ""  %> >
            <label class="form-check-label" for="L">
                L
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="sizes" value="XL" id="XL" <%= product.sizes.includes("XL") ? "checked" : ""  %> >
            <label class="form-check-label" for="XL">
                XL
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="sizes" value="XXL" id="XXL" <%= product.sizes.includes("XXL") ? "checked" : ""  %> >
            <label class="form-check-label" for="XXL">
                XXL
            </label>
        </div>
    </div>
        <div class="col-md-6">
            <span>Select category: </span> &nbsp;&nbsp;
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="category" id="inlineRadio1" value="Men" <%= product.category === "Men" ? "checked" : ""  %> >
            <label class="form-check-label" for="inlineRadio1">Men</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="category" id="inlineRadio2" value="Women" <%= product.category === "Women" ? "checked" : ""  %> >
            <label class="form-check-label" for="inlineRadio2">Women</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="category" id="inlineRadio2" value="Kids" <%= product.category === "Kids" ? "checked" : ""  %> >
            <label class="form-check-label" for="inlineRadio2">Kids</label>
        </div>
        </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3"
               name="description" placeholder="Enter description of product"><%= product.description %></textarea>
        </div>
        <div class="mb-3">
            <label for="images" class="form-label">Product image</label>
            <input type="text" name="images" class="form-control" id="images" placeholder="Enter product image" value="<%= product.images %>"/>
        </div>
        <div class="mb-3">
            <label for="color" class="form-label">Product color</label>
            <input type="text" name="color" class="form-control" id="color" placeholder="Enter product color" value="<%= product.color %>" />
        </div>
        <button type="submit" class="btn btn-outline-danger" style="color: white; background-color: #dc3545;">Edit</button>
    </form>