<% layout('./layouts/boilerplate.ejs') %>

    <section class="products">
      <div class="product-list">
        <% for(product of products) { %>
        <div class="product-card">
          <a href="/product/<%= product._id %>" style="text-decoration: none; color: #000;">
            <img src="<%= product.images %>" alt="Product" />
            <h4><%= product.name %></h4>
            <p><%= product.description %></p>
            <p><%= product.price.toLocaleString("en-IN", {style: "currency", currency: "INR"}) %></p>
            <p>Category: <%= product.category %></p>
          </a>
          <form action="/admin/product/<%= product._id %>/edit" method="get">
            <button type="submit" class="btn btn-outline-danger" style="background-color: #dc3545;">Edit</button>
          </form>
          <form action="/admin/product/<%= product._id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </section>